
  <div class = "my-main">
  <div class = "my-images">
    <img id = "my-profile", src="https://dl.dropboxusercontent.com/u/61478139/Agastya_Backdrop.jpg" />
  </div>
  <div id = "my-mainRight">
    <h3 id = "my-me">
      Yo, it's Agastya!
    </h3>
    <h5 id = "my-descrip">
      I'm a programmer, animator, artist, web developer, philospher, dancer, and chess player studying computer science at the University of Waterloo.
    </h5>
  </div>
  <div id = "my-mainLeft">
  </div>
  <a class = "my-mainBut" href = "https://github.com/KalraA"> Github </a>
  <a class = "my-mainBut" href="http://kalraa.github.io/"> Resume </a>
  <a class = "my-mainBut" href="/portfolio"> Portfolio </a>
</div>
<div class = "my-line">
</div>

<br>

<h2 style = "color: white; font-family: fantasy"> Blog </h2>


<div class = "my-post">
  <div class = "my-postText">
<h2 class = "my-postTitle">
  The Power of Bits!
</h2>
  <p class = "my-postDescrip">
    Solving a problem really effectively using binary numbers!
    <br>
    <a href = "/blog/2"> Learn More </a>
  </p>
</div>
  <div class = "my-postImageDiv">
</div>
</div>

<div class = "my-post">
  <div class = "my-postText">
<h2 class = "my-postTitle">
  Knights Tour: The Journey
</h2>
  <p class = "my-postDescrip">
    The long journey of solving the classic problem of the knight's tour effectively! Lots of interesting ideas!
    <br>
    <a href = "/blog/1"> Learn More</a>
  </p>
</div>
  <div class = "my-postImageDiv">
</div>
</div>

<h2 style = "color: white; font-family: fantasy"> Programming </h2>

<%pcounter = 0 %>
<% @portpages.each do |pp| %>
<% if pcounter < 3 %>
<% style = "background-image: url(" + pp.port_images[0].imageLink + ");" %>
<div class = "my-post">
  <div class = "my-postText">
<h2 class = "my-postTitle">
  <%= pp.title %>
</h2>
  <p class = "my-postDescrip">
    <%= pp.description %>
    <br>
    <%= link_to "Learn more", portpage_path(pp) %>
  </p>
</div>
<style>
my-postImageDiv {
  <%= style %>
}
</style>
<div class = "my-postImageDiv">

</div>
</div>
<% pcounter = pcounter + 1 %>
<% end %>
<% end %>



<h2 style = "color: white; font-family: fantasy"> Artwork</h2> </a>


<% acounter = 0 %>
<% @arts.each do |a| %>
<% if acounter < 3 %>
<div class = "my-post">
  <div class = "my-postText">
<h2 class = "my-postTitle">
  <%= a.title %>
</h2>
  <p class = "my-postDescrip">
    <%= a.description %>
    <br>
    <%= link_to "Learn more", artz_path(a) %>
  </p>
</div>
  <div class = "my-postImageDiv">
</div>
</div>
<% acounter += 1 %>
<% end %>
<% end %>


<h2 style = "color: white; font-family: fantasy"> Public Speaking </h2>

<% @pubs.each do |pp| %>
<div class = "my-post">
  <div class = "my-postText">
<h2 class = "my-postTitle">
  <%= pp.title %>
</h2>
  <p class = "my-postDescrip">
    <%= pp.description %>
    <br>
    <%= link_to "Learn more", pubz_path(pp) %>
  </p>
</div>
  <div class = "my-postImageDiv">
</div>
</div>
<% end %>
