       
    <!-- content -->
    <header>
        <div id="header-bg"></div>
        <h1 class="main-title">Agastya Kalra</h1>
        <section id="subheader">
            <h2>Chess player,<br> software developer, <br>your AI guy.</h2>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#projects">Programming</a></li>
                    <li><a href="#artwork">Artwork</a></li>
                    <li><a href="#public">Public Speaking</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <section id="about" class="info about-info">
            <h1>About</h1>
            <div id="about-content">
                <img src="//dl.dropboxusercontent.com/u/61478139/Agastya_Backdrop.jpg" class="about-img">
                <p>Yo, I'm Agastya.</p>
                <h4>I'm a developer, chess player, digital artist, and dancer studying at the University of Waterloo. I enjoy facing difficult challenges head on and coming up with creative solutions to complex problems. I am a quick learner with a never give up attitude. I am also and experienced team leader and active follower. I do competitive chess at an international level, and competitive dance at Waterloo. I have a passion for AI, machine learning, software development and solving problems!</h4>
            </div>
        </section>
    <section id="blog" class="info blog-info">
        <h1>Blog</h1>
        <div class="blog-post-container">
            <article id="blog-post-0">
            <h2>Vectorizing Forward/Back Propogation for Neural Networks</h2>
            <p>There's a machine learning course on coursera that I've been actively following, and in a recent lecture, the professor, Andrew Ng, explained how to implement the backpropogation algorithm. His implementation involved a for-loop going through all the data one at a time. He never actually taught how to do it with pure vectors, so I derived it. Check out how!</p>
            <a href="/blog/0" class="more">Read More</a>
            </article>
            <article id="blog-post-0">
            <h2>Recursively Implementing Breadth First Search Functionally</h2>
            <p>Breadth First Search is an algorithm for searching through a graph one level at a time. My friend told me that it is impossible to do recursively, and so obviously I had to give it a try! Usually BFS is implemented interatively. This is a recursive implementation of BFS in a Scheme dialect known as Racket.</p>
            <a href="/blog/-1" class="more">Read More</a>
            </article>    
            <article id="blog-post-2">
            <h2>Knight's Tour Try 4: Bits, Trees, Graphs, and Traphs!</h2>
        <p> My final and successful attempt to solve the knights tour. This time, by inventing my own data structure!</p>
            <a href="/blog/1" class="more">Read More</a>
        </article>
             <a href="/blog"><h3>Check out my full blog!</h3></a>

        </div>

    </section>
    <section id="projects" class="info project-info">
        <h1>Programming</h1>
        <div class="projects-container">
            <%pcounter = 0 %>
            <% @portpages.each do |pp| %>
            <% if pcounter < 2 or pcounter == 4 %>
            <article id="project">
            <h2><%= pp.title %></h2>
            <p> <%= pp.description %> </p>
            <p class = "more"> <%= link_to "Read more", portpage_path(pp) %> </p>
            </article>
            <% pcounter = pcounter + 1 %>
            <% end %>
            <% end %>
            <a href="/programming"><h3>Check out my full programming portfolio!</h3></a>
        </div>
    </section>
    <section id="artwork" class="info project-info">
        <h1>Artwork</h1>
        <div class="projects-container">
            <%pcounter = 0 %>
            <% @arts.each do |pp| %>
            <% if pcounter < 2 %>
            <article id="project">
            <h2><%= pp.title %></h2>
            <p> <%= pp.description %> </p>
            <p class = "more"> <%= link_to "Read more", artz_path(pp) %> </p>
            </article>
            <% pcounter = pcounter + 1 %>
            <% end %>
            <% end %>
            <a href="/artwork"><h3>Check out my full artwork portfolio!</h3></a>
        </div>
    </section>
    <section id="public" class="info project-info">
        <h1>Public Speaking</h1>
        <div class="projects-container">
            <%pcounter = 0 %>
            <% @pubs.each do |pp| %>
            <% if pcounter < 2 %>
            <article id="project">
            <h2><%= pp.title %></h2>
            <p> <%= pp.description %> </p>
            <p class = "more"> <%= link_to "Read more", pubz_path(pp) %> </p>
            </article>
            <% pcounter = pcounter + 1 %>
            <% end %>
            <% end %>
            <a href="/public"><h3>Check out my full public speaking portfolio!</h3></a>
        </div>
    </section>
    <footer id="contact">
        <div id="footer-content">
            <h1>Contact</h1>
            <a class="icon-with-info" href="http://github.com/kalraA">
                <span class="mega-octicon octicon-mark-github"></span>
                <p class="icon-desc">Github</p>
            </a>
            <a class="icon-with-info" href="mailto:agastya.kalra@gmail.com">
                <span class="mega-octicon octicon-comment"></span>
                <p class="icon-desc">Email</p>
            </a>
            <a class="icon-with-info" href="http://kalraa.github.io">
                <span class="mega-octicon octicon-file-text"></span>
                <p class="icon-desc">Resume</p>
            </a>
        </div>
    </footer>
    </main>
