<!doctype html>
    <!-- content -->
    <header>
        <div id="header-bg"></div>
        <h1 class="main-title">Agastya Kalra</h1>
        <section id="subheader">

            <h2>Chess player,<br> software developer, <br>your AI guy.</h2>
            <nav>
                <ul>
                    <li><a href="/" id="back-link">HOME</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <img src= <%= @images[1].imageLink %> style = "width: 100%;" >
        <div class="post-content">
        <h1><%= @portpage.title %></h1>
        <div class="post-info">
            <h2><%= @portpage.datee %></h2>
            Links: <span class="post-tags"><a href = <%= @portpage.tryLink %>> Try It </a></span> / <span class="post-tags"> <a href = <%= @portpage.gitHubLink %> > Github </a></span>
        </div>
        <p> <%= @portpage.description %></p>
        <h2> What's Cool: </h2>
        <p> <%= @portpage.cool %> </p>
        <h2> How I made it: </h2>
        <p> <%= @portpage.made %> </p>
        <h2> Contributors </h2>
        <p> <%= @portpage.contributors %> </p>
       </div>
    </main>
    </body>
</htm